absl-py==1.4.0
aiohttp
aiosignal
altair==5.0.1
astunparse==1.6.3
blinker==1.6.2
cachetools==5.3.1
certifi
click
datasets
flatbuffers==23.5.26
fsspec
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
huggingface-hub
Jinja2
joblib
keras==2.12.0
libclang==16.0.0
Markdown
MarkupSafe
ml-dtypes==0.2.0
numpy
oauthlib==3.2.2
opt-einsum==3.3.0
packaging
pandas==1.4.4
Pillow
protobuf==4.23.3
pyarrow==11.0.0
pydeck==0.8.1b0
Pygments==2.15.1
PyYAML
requests
rich==13.4.2
scikit-learn
scipy==1.10.1
six
streamlit==1.24.1
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
termcolor==2.3.0
torch==1.12.1
tqdm
transformers
typing_extensions
tzdata==2023.3
validators==0.20.0
Werkzeug
wordcloud==1.9.2
